    *{
        padding:0;
        margin:0;
    }
        /* .carousel - section  */
    .style1{
            font-family: 'Lobster', cursive;
        }
    @media screen and (min-width: 480px) {
        .image1{
        width: 100%;
        height: 400px;
        }
    }
    @media screen and (min-width: 768px) {
        .image1{
        width: 100%;
        height: 630px;
        }
        .mobileSize1{
            display: none; 
        }
    }
    @media screen and (min-width: 1024px) {
        .image1{
            width: 100%;
            height: 730px;
        }
        .mobileSize1{
            display: none;
        }
    }
    @media screen and (min-width: 480px) {
        .image2{
        width: 100%;
        height: 400px;
        }
    }
    @media screen and (min-width: 768px) {
        .image2{
        width: 100%;
        height: 630px;
        }
    }
    @media screen and (min-width: 1024px) {
        .image2{
            width: 100%;
            height: 730px;
        }
    }
    @media screen and (min-width: 480px) {
        .image3{
        width: 100%;
        height: 400px;
        }
    }
    @media screen and (min-width: 768px) {
        .image3{
        width: 100%;
        height: 630px;
        }
    }
    @media screen and (min-width: 1024px) {
        .image3{
            width: 100%;
            height: 730px;
        }
    }
/* about-us section  */
    #aboutUs{
        background-image: url("../image/products/coffee_171653.jpg");
        position: relative;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size:cover;
        background-position:center;
        width: 100%;
        height: 100vh;
            }
    .oval{
        margin-top:450px;
        font-family: 'Lobster', cursive;
            }
/* scroll button */
    .scroll-wrapper {
        text-align:center;
    }
    .scroll {
        font-size: 75px;
        animation: scrolling 2s ease infinite;
    }
    @keyframes scrolling {
        0% {
            transform: translate(0);
        }
        50% {
            transform: translate(0,40px);
        }
        100% {
            transform: translate(0);
    }
    }    
/* products section */
    .product {
        width: 100%;
        }
    .product .img {
        display: block;
        border-radius: 4px;
        height: 350px;
        position: relative;
        transition: all 0.3s ease;
        z-index: 0;
        }
    .product .img:after {
        content: ''; 
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #000;
        opacity: 0;
        transition: all 0.6s ease; 
        }
    .product:hover .img:after {
        opacity: .7;
        }
    .glow:hover, .glow:focus, .glow:active {
        box-shadow: 1px 1px 8px  rgb(236, 117, 5);
    }

/* shop html section */
    .products .card-img img{
        transition: all 0.3s ease-in-out;
    }
    .products .card-body{
        z-index: 10;
        background: #a03c1ea6;
        border-top:4px solid #664417;
        padding: 30px;
        box-shadow: 0px 2px 15px rgba(151, 96, 44, 0.5);
        margin-top: -60px;
        transition: 0.3s;
    }
    .products .card:hover img{
        transform: scale(1.2);
    }

